/* src/Homepage.css */
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background: #eff1f1de;
  color: #333;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  margin-bottom: 0;
  background: #f3f4f420;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.email-group {
  background-color: #f1f4f4de;
  border-radius: 40px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  box-shadow: none;
  border: 1px solid #e8e5e5b0;
}

.email-box {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border-radius: 40px;
  padding: 0;
  box-shadow: none;
}

.email-box button {
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  padding: 5px 12px;
  background-color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: none;
  border: none;
}

.right a {
  margin: 0 8px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.right span {
  margin: 0 4px;
  color: #aaa;
}

.intro-section {
  background: #ffffff;
  padding: 80px 20px 120px;
  position: relative;
  overflow: visible;
  z-index: 1;
  box-sizing: border-box;
  
}

.intro-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eff1f1de;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  z-index: -1;
}


.intro-text {
  max-width: 900px;
  margin: 10px auto;
  padding: 0 20px;
}
.intro-section p {
  max-width: 900px;
  margin: 10px auto 0;
  line-height: 1.8;
  text-align: left;
  font-size: 22px;
}



.intro-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}



.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4), 0 0 0 4px #ffffff;
}
.avatar-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.skills-section {
  margin-top: 0px;
  background-color: #ffffff;
  padding: 60px 0px;
  overflow: hidden;
  position: relative;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  width: 100%;
  box-sizing: border-box;
}


.skills-scroll-react {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: #ffffff;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

.skills-content {
  display: inline-flex;
}

.skills-content span {
  flex-shrink: 0;
  font-size: 28px;
  font-family: "Monoton", cursive;
  font-weight: bold;
  color: #000;
  margin: 0 80px;
  flex-shrink: 0;
  white-space: nowrap;
}

.projects-section {
  padding: 60px 20px;
  background-color: #eff1f1de;
  border-radius: 0 0 30px 30px;
  margin-top: 0;
}


.projects-header h2 {
  font-size: 24px;
  color: #333;
  font-family: "Nunito", sans-serif;
}


.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  padding: 20px;
}

.project-card {

  flex: 0 0 380; 
  max-width: 380px;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.project-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-card p {
  text-align: left;
  margin: 0;
  margin-bottom: 1em;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .project-card {
    max-width: 90%;  
  }
}


.contact-section {
  text-align: center;
  margin-top: 0;
  padding: 80px 20px;
  background-color: #ffffff;
  border-radius: 80px 80px 0 0;
}

.contact-section h2 {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

.contact-buttons button {
  margin: 10px;
  padding: 12px 24px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

.contact-link-button {
  margin: 10px;
  padding: 12px 24px;
  border: none;
  background-color: transparent;
  color: #333;
  border: 1px dashed #999;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  text-decoration: none;

}

.footer {
  margin-top: 0;
  font-size: 13px;
  padding: 20px;
  background-color: #ffffff;
}

.footer-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-links a {
  color: #555;
  text-decoration: none;
}

.footer::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc;
  margin: 0 40px;
}

.white-bg {
  background-color: #ffffff !important;
}
